<header id="tt-header">
    <div class="container">
        <div class="row tt-row no-gutters">

            <div class="col-auto ml-auto">
                <div class="tt-user-info d-flex justify-content-center">
                    <!-- <a href="#" class="tt-btn-icon">
                         <i class="tt-icon"><svg><use xlink:href="#icon-notification"></use></svg></i>
                    </a>
                    <div class="tt-avatar-icon tt-size-md">
                        <i class="tt-icon"><svg><use xlink:href="#icon-ava-a"></use></svg></i>
                    </div> -->
                    <a (click)="logout()" class="btn btn-secondary" style="color:
                    white;">
                        <span>
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                              </svg> -->
                        </span>
                        Đăng xuất</a>

                </div>
            </div>
        </div>
    </div>
</header>
<main id="tt-pageContent">
    <div class="container">
        <div class="tt-layout-404">
            <span class="tt-icon">
                <svg class="icon">
                    <use xlink:href="#icon-error_404"></use>
                </svg>
            </span>
            <h6 class="tt-title">ERROR 404</h6>
            <p>Sorry we can’t find what you are looking for.<br>
                <!-- <a href="index.html" class="tt-color-dark tt-underline-02">suggested topics</a> for you.</p> -->
        </div>
    </div>
</main>