.tooltip-wrap {
    position: relative;
}

.tooltip-wrap .tooltip-content {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: #fff;
    padding: .5em;
    min-width: 10rem;
}

.tooltip-wrap:hover .tooltip-content {
    display: block;
}

span.tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #FFFFFF transparent transparent;
    top: 11px;
    left: -24px;
}