<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.3/css/sb-admin-2.min.css"
    integrity="sha512-RIG2KoKRs0GLkvl0goS0cdkTgQ3mOiF/jupXuBsMvyB3ITFpTJLnBu59eE+0R39bxDQKo2dsatA5CwHeIKVFcw=="
    crossorigin="anonymous" />
<div class="">
    <div id="page-top">
        <div id="wrapper">
            <app-sidebar></app-sidebar>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <div class="container-fluid">
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <!-- <app-footer></app-footer> -->
            </div>
        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <script src="../../../../assets/admin/vendor/jquery/jquery.min.js"></script>
        <script src="../../../../assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../../../../assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="../../../../assets/admin/js/sb-admin-2.min.js"></script>
        <script src="../../../../assets/admin/vendor/chart.js/Chart.min.js"></script>
        <script src="../../../../assets/admin/js/demo/chart-area-demo.js"></script>
        <script src="../../../../assets/admin/js//demo/chart-pie-demo.js"></script>
    </div>