<div class="container">
    <div class="tt-topic-list">
        <div class="tt-list-header">
            <div class="tt-col-topic">Câu hỏi</div>
            <div class="tt-col-topic">Danh mục</div>
            <div class="tt-col-value hide-mobile">Loại</div>
            <!-- <div class="tt-col-value hide-mobile">Loại</div> -->
            <!-- <div class="tt-col-value hide-mobile">Views</div> -->
            <div class="tt-col-value">Ngày</div>
        </div>
        <!-- POST BY USER -->
        <div class="tt-item"
            *ngFor="let postByUser of listPost | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total}; let i = index">
            <div class="tt-col-avatar">
                <!-- <svg class="tt-icon">
                    <use xlink:href="#icon-ava-c"></use>
                </svg> -->
                <img src="{{postByUser.user?.avatar}}" alt="" style="height: 50px; border-radius: 50%;">
            </div>
            <div class="tt-col-description">
                <h6 class="tt-title"><a [routerLink]="['/users/post', postByUser.id]">
                        {{postByUser.title}}
                    </a></h6>
                <div class="row align-items-center no-gutters">
                    <div class="col-11">
                        <ul class="tt-list-badge">
                            <!-- <li class="show-mobile"><a href="#"><span class="tt-color04 tt-badge">pets</span></a> -->
                            <!-- </li> -->
                            <li><a [routerLink]="['/users/user',postByUser.user?.id]"><span
                                        class="tt-badge">{{postByUser.user?.username}}</span></a></li>
                            <!-- <li><a href="#"><span class="tt-badge">photodune</span></a></li> -->
                        </ul>
                    </div>
                    <div class="col-1 ml-auto show-mobile">
                        <div class="tt-value">{{postByUser.createAt | date:"dd"}}</div>
                    </div>
                </div>
            </div>
            <div class="tt-col-description"><span class="tt-color0{{i}} tt-badge" style="color: white">{{postByUser.category?.name}}</span></div>
            <!-- <div class="tt-col-category tt-color0{{i}}">{{postByUser.category?.name}}</div> -->
            <!-- <div class="tt-col-value hide-mobile">985</div> -->
            <div *ngIf="postByUser.description == '1'" class="tt-col-value tt-color-select hide-mobile">Bài viết</div>
            <div *ngIf="postByUser.description == '2'" class="tt-col-value tt-color-select hide-mobile">Câu hỏi</div>
            <div *ngIf="postByUser.description == null || postByUser.description == undefined || postByUser.description == ''" class="tt-col-value tt-color-select hide-mobile">Khác</div>
            <!-- <div class="tt-col-value hide-mobile">15.1k</div> -->
            <div class="tt-col-value hide-mobile">{{postByUser.createAt | date:'yyyy-MM-dd'}}</div>
        </div>
        <div class="tt-row-btn">
            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
        </div>

    </div>
</div>